* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
    height: 100vh;
    display: flex;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 230px;
    background-color: #4a4a4a;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.logo img {
    width: 80px;
    height: auto;
    margin-bottom: 8px;

}

.sidebar ul {
    list-style: none;
    width: 100%;
    text-align: left;
    padding-left: 10px;
}

.sidebar li {
    margin: 15px 0;
}

.sidebar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.2s;
}

.sidebar a:hover {
    color: #00d67a;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
}

header {
    width: 100%;
    background: linear-gradient(to right, #222, #444);
    color: white;
    text-align: center;
    padding: 15px 0;
    font-weight: bold;
}

.form-section {
    margin-top: 60px;
    text-align: center;
}

.form-section h3 {
    font-size: 20px;
    margin-bottom: 25px;
}

.form-section span {
    font-weight: bold;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 300px;
    border-radius: 25px;
    border: 2px solid #ccc;
    text-align: center;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-color: #00d67a;
}

.buttons {
    margin-top: 20px;
}

button {
    border: none;
    border-radius: 25px;
    padding: 10px 30px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#criar {
    background-color: #00d67a;
    color: white;
    margin-right: 10px;
}

#criar:hover {
    background-color: #00b867;
}

.voltar {
    background-color: #777;
    color: white;
}

.voltar:hover {
    background-color: #555;
}
